*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f4f6f9;
    color:#222;
}

.main-container{
    width:95%;
    margin:auto;
    padding:20px 0;
}